@CHARSET "UTF-8";

#nav_ui {
	list-style-type: none;
	width: 100%;
	padding: 0;
	overflow: hidden;
	background-color: #333;
}


.dropbtn {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	width: 230px;
}



.nav_a:hover, .dropdown:hover .dropbtn {
	background-color: red;
}

li.dropdown {
	display: inline-block;
	float: center;
}

.dropdown-content {
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	position : fixed;
	z-index: 99999 !important; 
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
	display: block;
}
